.login-button {
    width: 120px;
    height: 40px;
    border-width: 0px;
    border-radius: 3px;
    /*background: #1E90FF;*/
    background: #75d8b7;
    cursor: pointer;
    outline: none;
    font-family: Microsoft YaHei;
    color: white;
    font-size: 17px;
}

.login-button:hover {
    /*background: #5599FF;*/
    border-color: #00FFFF;
}

.normal-input {
    width: 200px;
    height: 25px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 7px 0px;
    border-radius: 3px;
    padding-left: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.normal-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.normalCheckbox:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 14px;
    font-size: 16px;
    color: #fff;
    border: 2px solid #ddd;
    background-color: #fff;
    box-sizing: border-box;
    margin-right: 5px;
}

.normalCheckbox:checked:after {
    content: '\2714';
    /*对号*/
    background-color: #5774FF;
}

.normalRadio:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    font-size: 16px;
    color: #fff;
    border: 2px solid #ddd;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    left: -2px;
}

.normalRadio:checked:after {
    content: "";
    transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
    -webkit-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
    border: 4px solid #5774FF;
}