.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 30vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
.nav{
    height: 100px;
    background-color: #282c34;
}
ul{
    padding-top: 30px;
    list-style: none;
    text-align: center;
    /*width: 54%;*/
}
ul li{
    margin-right: 25px;
    display:inline-block;
    /*float: right;*/
}
ul li a{
    color: #ff193f;
    font-size: 25px;
    text-decoration: none;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.welcomeInfo{
    text-align: center;
}
