body{
    background: url(../img/loginBG.jpg);
    /*width: 100%;*/
    /*height: 100%;*/
}
section {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 460px;
    height: 230px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: #ccc 5px 8px 3px;
    background: white;
}

#logo {
    width: 140px;
    height: 140px;
    float: left;
    margin: 20px 0px 0px 20px;
    background: url(../img/login_logo.jpg) no-repeat 0px 0px/140px 140px;
}

#main {
    float: right;
}

fieldset {
    border: 0px;
}

#cookieGroup {
    margin: 10px auto;
    float: left;
}

#errorGroup{
    float: left;
    width: 11px;
    height: 12px;
}

#buttonGroup {
    margin-top: 50px;
}

#showCookie {
    margin-top: 15px;
    margin-right: 2px;
    width: 11px;
    height: 12px;
    float: right;
    background: url(../img/small_icons.jpg) no-repeat -48px -164px/300px 300px;
    cursor: pointer;
}

.change {
    transform: rotate(-90deg)
}

button {
    float: right;
}

#btnRegister {
    margin-right: 15px;
}