<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/component.css}">
    <title>Title</title>
    <script>
        // document.getElementById("return1").addEventListener("click", () => {
        //     document.getElementById("macTable").hidden = false;
        // document.getElementById("mebStart").hidden = true;
        // }, false);
        function isEmpty(event) {
            // event.valueOf()
        }
        function init(){
            document.getElementById("memberId").addEventListener("blur",isEmpty,false);

        }
        window.addEventListener("load",init,false);
    </script>
</head>
<body>
<section id="mebStart">
    <!--/*@thymesVar id="mebUseRec" type="com.qlu.netbar_1.pojo.MebUseRec"*/-->
    <form th:action="@{/addMebUseRec}" th:object="${mebUseRec}"  method="post">
        <fieldset style="border:0;">
            <legend hidden>会员激活</legend>
            <table>
                <tbody>
                <tr>
                    <td><label for="memberId" style="font-size:15px;">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</label></td>
                    <td><input type="text" name="memberId" id="memberId" class="normal-input" th:field="*{memberId}" required></td>
                </tr>
                <tr>
                    <td><label for="machineId1" class="text" style="font-size:15px;">机器：</label></td>
                    <td colspan="2">
                        <!--<select  name="area" id="area1" class="normal-input" style="height: 40px;">-->
                            <!--<option selected disabled style="display: none;">&#45;&#45;选择区域&#45;&#45;</option>-->
                            <!--&lt;!&ndash;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@实现级联列表查询@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&ndash;&gt;-->
                            <!--<option>极致电竞区</option>-->
                        <!--</select>&nbsp;&nbsp;-->
                        <select name="machineId" id="machineId1" class="normal-input" style="height: 40px;">
                            <option th:each="macIdle:${macsIdle}" th:text="${macIdle.machineId}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="addMoney1" style="font-size:15px;">充&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;值：</label></td>
                    <td><input type="text" th:field="*{addMoney}" name="addMoney" id="addMoney1" class="normal-input" required></td>
                </tr>
                <tr>
                    <td><label for="admins1" style="font-size:15px;">管理员：</label></td>
                    <td>
                        <!--<select id="admins1" class="normal-input" style="height: 40px;">-->
                            <!--<option th:each="admin:${admins}" th:text="${admin.adminId}"></option>-->
                        <!--</select>-->
                        <select th:field="${mebUseRec.adminId}" name="admins1" id="admins1" class="normal-input" style="height: 40px;">
                            <!--<option selected disabled style="display: none;" value="">&#45;&#45;操作认证&#45;&#45;</option>-->
                            <option th:each="admin:${admins}" th:selected="${mebUseRec.adminId==admin.adminId}" th:value="${admin.adminId}" th:text="${admin.adminId}"></option>
                        </select>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <!--<td><button type="button" class="login-button" id="return1">返回</button></td>-->
                    <td><button type="submit" class="login-button" id="btnMebSbm">提交</button></td>
                </tr>
                </tfoot>
            </table>
        </fieldset>
    </form>
</section>

</body>
</html>