<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网虫管理系统</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/component.css}">
    <link rel="shortcut icon" th:href="@{/img/login_logo.jpg}" type="image/x-icon" />
    <script>
        function selectCookie() {
            let o = document.getElementById("cookieGroup");
            let nav = document.getElementById("showCookie");
            if (o.hidden) {
                o.hidden = false;
                nav.classList.remove("change");
            } else {
                o.hidden = true;
                nav.classList.add("change");
            }
        }
        function init() {
            //监听绿色小按钮，当该按钮被点击时，执行selectCookie函数
            // document.getElementById("showCookie").addEventListener("click", selectCookie, false);
        }
        window.addEventListener("load", init, false); //监听网页加载事件，加载完成后执行init函数。
    </script>
</head>
<body>
<section>
    <aside id="logo"></aside>
    <article id="main">
        <!--/*@thymesVar id="admin" type="com.qlu.netbar_1.pojo.Admin"*/-->
        <form th:action="@{/submit}" th:object="${admin}" method="post">
            <fieldset>
                <legend hidden>用户登录</legend>
                <label for="userName" style="font-size:15px;">用户名：</label>
                <input type="text" name="userName" id="userName" class="normal-input" th:field="*{adminId}"><br>
                <label for="password" style="font-size:15px;">密&nbsp;&nbsp;&nbsp;码：</label>
                <input type="password" name="password" id="password" class="normal-input" th:field="*{adminPass}"><br>
                <!--<nav id="cookieGroup">-->
                    <!--<input type="checkbox" name="isCookie" id="isCookie">-->
                    <!--<label for="isCookie" style="font-size:15px;">管理员登录</label>-->
                <!--</nav>-->
                <!--<nav id="showCookie"></nav>-->
                <nav id="errorGroup" >
                    <label id="errorText" th:text="${errorInfo}"></label>
                </nav>
                <nav id="buttonGroup">
                    <button type="submit" class="login-button">登录</button>
                    <!--<button type="submit" class="login-button" id="btnRegister" formaction="register.html">注册</button>-->
                </nav>
            </fieldset>
        </form>
    </article>
</section>
</body>
</html>