<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/component.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <title>mebManage</title>
    <script>
        function init(){
            document.getElementById("btnAdd").addEventListener("click",()=>{
                document.getElementById("showMeb").hidden = true;
                document.getElementById("addMeb").hidden = false;
            },false);
        }
        window.addEventListener("load",init,false);
    </script>
</head>
<body>
<section id="showMeb">
    <nav id="navOperation">
        <nav style="float: left;">
            <button id="btnAdd" class="login-button">新增</button>
            <button id="btnDelete" class="login-button">删除</button>
            <button id="btnUpdate" class="login-button">修改</button>
        </nav>
        <nav style="text-align: right">
            <input type="search" id="keyword" name="keyword" class="normal-input" style="height: 35px;">
            <button type="button" class="login-button">查询</button>
        </nav>
    </nav>
    <article id="main">
        <table class="norTable">
            <thead>
            <tr>
                <th><input type="checkbox" id="all"></th>
                <th>账号</th>
                <th>密码</th>
                <th>姓名</th>
            </tr>
            </thead>
            <tbody id="norTableTbody" >
            <tr th:each="admAll:${admsAll}">
                <!--/*@thymesVar id="admAll" type="com.qlu.netbar_1.pojo.Admin"*/-->
                <td style="text-align: center"><input type="checkbox" data-oid="1" class="cbxSelect"></td>
                <td th:text="${admAll.adminId}">会员卡号</td>
                <td th:text="${admAll.adminPass}">密码</td>
                <td th:text="${admAll.adminName}">姓名</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="11">
                    <nav style="float:right">
                        首页&nbsp;上一页&nbsp;
                        <select class="normal-input" style="width:30px;"></select> &nbsp;下一页&nbsp;尾页
                    </nav>
                </td>
            </tr>
            </tfoot>
        </table>
    </article>
</section>
<section id="addMeb" hidden>
    <!--/*@thymesVar id="admin" type="com.qlu.netbar_1.pojo.Admin"*/-->
    <form th:action="@{/addAdmin}" th:object="${admin}"  method="post">
        <table>
            <tbody>
            <tr>
                <td><label for="memberId" style="font-size:15px;">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</label></td>
                <td><input type="text" name="memberId" id="memberId" class="normal-input" th:field="*{adminId}" required></td>
            </tr>
            <tr>
                <td><label for="memberPass" style="font-size:15px;">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</label></td>
                <td><input type="text" name="memberPass" id="memberPass" class="normal-input" th:field="*{adminPass}" required></td>
            </tr>
            <tr>
                <td><label for="memberName" style="font-size:15px;">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label></td>
                <td><input type="text" name="memberName" id="memberName" class="normal-input" th:field="*{adminName}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <!--<td><button type="button" class="login-button" id="return1">返回</button></td>-->
                <td><button type="submit" class="login-button" id="btnMebSbm">提交</button></td>
            </tr>
            </tfoot>
        </table>
    </form>
</section>
</body>
</html>