<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qlu.netbar_1.mapper.IntUseRecMapper">
    <select id="queryAll" resultType="intuserec">
        select * from intuserec
    </select>

    <select id="queryById" parameterType="int" resultType="intuserec">
        select * from intuserec where UseRecordID = #{useRecId}
    </select>
    <select id="queryByDate" parameterType="Date" resultType="intuserec">
        select * from intuserec where StartTime&gt;=#{startDate} and StartTime &lt;=#{endDate} order by StartTime
    </select>
    <select id="querySingleByDate" resultType="intuserec">
        select * from intuserec where StartTime&gt;=#{startDate} and StartTime &lt;=#{endDate} and InterimID=#{interimId} order by StartTime
    </select>

    <insert id="insert" parameterType="intuserec">
        insert into intuserec (MachineID, StartTime, InterimID, AdminID, AddMoney, Consumption, Remains)
        values(#{machineId},#{startTime},#{interimId},#{adminId},#{addMoney},#{consumption},#{remains})
    </insert>

    <update id="updateEndByMac">
        update intuserec set EndTime=#{endTime},Consumption=#{consumption},Remains=#{remains} where MachineID=#{machineId} and EndTime is null
    </update>

    <!--<update id="update" parameterType="intuserec">-->
        <!--update intuserec set MachineID=#{machineId},StartTime=#{startTime},EndTime=#{EndTime},InterimID=#{interimId},AddMoney=#{addMoney},Consumption=#{consumption},Remains=#{remains},AdminID=#{adminId} where UseRecordID=#{useRecId}-->
    <!--</update>-->
    <update id="updAddMoney" parameterType="int">
        update intuserec set AddMoney=#{addMoney}+AddMoney where InterimID=#{interimId} and EndTime is null
    </update>

    <delete id="delete" parameterType="int">
        delete from intuserec where UseRecordID = #{useRecId}
    </delete>

</mapper>